body {
    height: 100vh;
    position: relative;
}


.navbar {
    font-family: 'Gaegu', cursive;
    font-size: 22px;
}


.header-accueil {
    position: absolute;
    /* font-family: 'Annie Use Your Telescope', cursive; */
    /* font-family: 'Schoolbell', cursive; */
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    bottom: 0;
    top: 0;
    z-index:-10;
    padding-top:180px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b499e+0,26b74b+100 */
    background: #9b499e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #9b499e 0%, #26b74b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #9b499e 0%,#26b74b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #9b499e 0%,#26b74b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b499e', endColorstr='#26b74b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color:#fff;
}

.header-accueil h1{
    font-size: "
}
