body {
    height: 100vh;
    position: relative;
    font-family: 'Niramit', sans-serif;
}


/**********/
/* NAVBAR */
/*************************************************************/


.navbar {
    font-family: 'Gaegu', cursive;
    font-size: 22px;
    z-index:10;
    padding: 0;
    background-color: #ffffff20 !important;
    box-shadow: 0 5px 10px 0 #44444420;
}


.navbar-brand{
    color: #fff !important;
    font-size: 40px;
}

.navbar .navbar-collapse,
.navbar .navbar-collapse > ul {
    align-self: stretch;
}

.nav-link {
    height: 100%;
    padding: 15px 10px !important;
    color: #fff !important;
    -webkit-transition: all 200ms; /* Safari */
    transition: all 200ms;
}

.navbar .active .nav-link {
    background-color: #47bf66;
    color: #fff !important;
}

.navbar .nav-link:hover {
    background-color: #9c619e;
    color: #fff !important;
}

.navbar .active .nav-link:hover {
    background-color: #37b858;
}


/**********/
/* HEADER */
/*************************************************************/

.header-accueil {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    bottom: 0;
    top: 0;
    /* padding-top:180px; */
    background-image: url('../resources/img/accueil-bg.jpg');
    background-size: cover;
    color:#fff;
}

.header-accueil h1{
    font-size: 60px;
    font-family: 'Gaegu', cursive;
    margin-bottom: 20px;
}

.header-accueil p{
    font-size: 25px;
}


/**************/
/* FORMULAIRE */
/*************************************************************/


label {
    color: black;
}

select{
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #717474;
    background-color: #c9cdcd;
}

input[type=submit] {
    display: block;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
}

input[id=chercher] {
    background-color: #47bf66;
    border: solid 2px #47bf66;
}

input[id=proposer] {
    background-color: #9c619e;
    border: solid 2px #9c619e;
}

input[id=chercher]:hover {
    background-color: #fff;
    color: #47bf66;
}

input[id=proposer]:hover {
    background-color: #fff;
    color: #9c619e;
}

.formulaire {
    border-radius: 5px;
    background:white;
    padding: 20px;
    max-width: 400px;
}

.formulaire .row {
    margin-left: 0;
    margin-right: 0;
}
