body {
    height: 100vh;
    position: relative;
    font-family: 'Niramit', sans-serif;
}

.fond-blanc {
    color: #333;
    border-radius: 5px;
    background:white;
    padding: 20px;
    box-shadow: 0 10px 20px 5px rgba(40, 40, 40, 0.2);
}

.bg-light-gray {
    background-color: #f2f2f2;
}


/**********/
/* NAVBAR */
/*************************************************************/


.navbar {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 26px;
    z-index:10;
    padding: 0;
    /* background-color: #ffffff20 !important; */
    box-shadow: 0 5px 10px 0 #44444420;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-brand {
    color: #fff !important;
    font-size: 40px;
}

.navbar .navbar-collapse,
.navbar .navbar-collapse > ul {
    align-self: stretch;
}

.nav-link {
    height: 100%;
    padding: 15px 10px !important;
    color: #fff !important;
    -webkit-transition: all 200ms; /* Safari */
    transition: all 200ms;
}

.navbar .active .nav-link {
    background-color: #47bf66;
    color: #fff !important;
}

.navbar .nav-link:hover {
    background-color: #9c619e;
    color: #fff !important;
}

.navbar .active .nav-link:hover {
    background-color: #37b858;
}

@media screen and (max-width: 767px) {
    .navbar {
	background-color: #555 !important;
    }
}


/**********/
/* HEADER */
/*************************************************************/

.header-accueil,
.header-chercher,
.header-monCompte,
.header-annonces {
    position: relative;
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    height: 100%;
    background-image: url('../resources/img/accueil-bg.jpg');
    background-size: cover;
    color: #fff;
}

.header-accueil h1,
.header-chercher h1,
.header-monCompte h1,
.header-annonces h1 {
    font-size: 55px;
    font-family: 'Annie Use Your Telescope', cursive;
    margin-bottom: 20px;
}

.header-accueil p{
    font-size: 25px;
}

.header-chercher{
    top: auto;
    bottom: auto;
    height: 600px;
}

.header-chercher h1 {
    margin-bottom: 180px;
}

@media (min-width: 576px) {
    .header-chercher {
	height: 450px;
    }
    .header-chercher h1 {
	margin-bottom: 140px;
    }
}

@media (min-width: 992px) {
    .header-chercher {
	height: 350px;
    }
    .header-chercher h1 {
	margin-bottom: 60px;
    }
}

.header-monCompte {
    top: auto;
    bottom: auto;
    height: 350px;
}

.header-annonces {
    top: auto;
    bottom: auto;
    height: 200px;
}



/**************/
/* FORMULAIRE */
/*************************************************************/
form h1{
    color: #555;
}

label {
    color: #333;
}

select, input {
    padding: 5px 8px;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
}

input[type=submit], .button-holavoisin {
    font-weight: bold;
    line-height: 30px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
}

input[id=chercher],
input[id=inscription],
input[id=nouveauMembre],
.button-vert {
    background-color: #47bf66;
    border: solid 2px #47bf66;
    color: #fff;
}

input[id=proposer],
input[id=connection],
.button-violet {
    background-color: #9c619e;
    border: solid 2px #9c619e;
    color: #fff;
}

input[id=chercher]:hover,
input[id=inscription]:hover,
input[id=nouveauMembre]:hover,
.button-vert:hover {
    background-color: #fff;
    color: #47bf66;
    text-decoration: none;
}

input[id=proposer]:hover,
input[id=connection]:hover,
.button-violet:hover {
    background-color: #fff;
    color: #9c619e;
    text-decoration: none;
}

.button-violet {
    background-color: #dd4050;
    border: solid 2px #dd4050;
    color: #fff;
}

.button-violet:hover {
    background-color: #fff;
    color: #dd4050;
    text-decoration: none;
}


#form-chercher-bouton {
    background-color: #9c619e;
    border: solid 2px #9c619e;
    color: #fff;
}

#form-chercher-bouton:hover {
    background-color: #fff;
    color: #9c619e;
}

.formulaire {
    border-radius: 5px;
    background:white;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 10px 20px 5px rgba(40, 40, 40, 0.2);
}

.formulaire .row {
    margin-left: 0;
    margin-right: 0;
}

.form-accueil-bouton {
    color: #fff;
    padding: 8px 20px;
}

.form-accueil-item {
    width: 100%;
}

.formulaire-chercher {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff20;
    box-shadow: 0 -5px 10px 0 #44444420;
}

.formulaire-chercher label {
    color: #fff;
    font-weight: normal;
}

.form-chercher-item {
    width: 100%;
}

.form-connexion {
    padding: 40px 60px;
}


/************/
/* CHERCHER */
/*************************************************************/
.card {
    height: 400px;
    border: 1px solid #9c619e;
    border-radius: 6px;
    color: #333;
    box-shadow: 0 10px 15px 2px rgba(40, 40, 40, 0.15);
}

.card:hover {
    text-decoration: none;
    color: #9c619e;
}

.card-img-top {
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 180px;
    width:auto;
}

.card-img-top-child {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
    transition: all 0.3s;
}

.card-body {
    text-align: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #eee;
}

.card-title {
    text-align: center;
    font-size: 22px;
}

.card:hover .card-img-top .card-img-top-child {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.card:hover .card-body {
    background-color: #fff;
    transition: all 0.3s;
}

.card-prix {
    padding: 4px 8px;
    border: solid 2px #9c619e;
    border-radius: 3px;
    color: #333;
}


/*************/
/* CONNEXION */
/*************************************************************/
form.connexion-form label {
    display: block;
}

p.erreur-connexion {
    color: #cc2233;
    font-size: 14px;
}

.msg-accueil {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 101;
    border-radius: 8px;
    box-shadow: 0 10px 20px 5px rgba(40, 40, 40, 0.2);
}

#bg-accueil-assombri {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3338;
    z-index: 100;
}

.msg-accueil button,
button.continuer {
    border-radius: 5px;
    color: #fff;
    background-color: #9c619e;
    border: solid 2px #9c619e;
}


.msg-accueil button:hover,
button.continuer:hover {
    background-color: #fff;
    color: #9c619e;
}


/***************/
/* INSCRIPTION */
/*************************************************************/
.inscription-form {
    max-width: none;
}


/************/
/* PROPOSER */
/*************************************************************/
.form-proposer h2 {
    font-family: 'Annie Use Your Telescope';
    font-size: 36px;
    color: #333;
}

#msg-inscription-necessaire {
    max-width: 400px;
    font-weight: normal;
    color: #cc2233;
}

#msg-inscription-necessaire .button-holavoisin {

}

#form-objet, #form-service, #form-type {
    position: fixed;
    top: 50%;
    transition: all 400ms;
}

#form-type {
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-service, #form-objet {
    transform: translate(110vw, -50%);
}

/*************/
/* MONCOMPTE */
/*************************************************************/
.photoProfile{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
}

.nomUtilisateur {
  font-family: 'Annie Use Your Telescope';
  font-size: 44px;
}

.form-monCompte h1 {
    font-size: 50px;
    font-family: 'Annie Use Your Telescope';
    color: #333;
}

.form-monCompte label {
    margin-bottom: 0;
    margin-right: 10px;
}

.form-monCompte input[type="text"],
.form-monCompte input[type="password"],
.form-monCompte input[type="file"] {
    margin-right: 10px;
}

/***********/
/* PAGE AD */
/*************************************************************/
.page-ad-voisin-name {
    display: inline-block;
    font-size: 24px;
}

.page-ad-img-voisin {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
